{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>About the Club</h1>
<p>
    In order to appreciate why we are known as the Granite Curling Club of West
    Ottawa, we should be aware of the fact that when curling came to Canada in
    the early 1800's, the game was played on the many frozen rivers and ponds,
    and the rocks were not always made of stone. For reasons of economy,
    transportation, or other factors, curling stones were not readily available
    throughout the country. Each group of curlers were left to fabricate
    curling stones to the best of the abilities of the local stone masons or
    other technicians of the day. The result was that some areas used stone,
    some used wood weighted with iron and others fabricated iron "stones". The
    use of iron was prevalent in the Ottawa-Montreal area.
</p>
<p>
    As the Population of Ottawa grew, due to the influx of curlers from other
    parts of Canada, the new residents found that curling with irons was not
    their preferred game. In the early 1950's there were only 3 curling clubs
    in the Ottawa area; Ottawa, Rideau and Glebe, the newest being the Glebe
    which was formed in 1910 and operated out of rented quarters in Lansdowne
    Park. Together with all other clubs in the Ottawa Valley, curling was
    played with irons. Only in late February, and then reluctantly, would the
    unmatched granites be brought out for those ardent devotees of the take out
    game.
</p>
<p>
    In January 1953, the idea of forming a curling club in the Westboro area,
    which would curl exclusively with granites, was conceived by Rev. Donald
    Bruce Macdonald, Cliff Murchison, and Percy Halpenny. By this time, Percy,
    who was aware of a previous plan in 1942 and put aside due to World War II,
    contacted Rev. Donald Bruce who, in turn, asked Cliff Murchison his view of
    the level of interest in such a club. Cliff assured him it was feasible and
    the next step was an organizational meeting. On January 22, 1953, the first
    meeting was held, a provisional executive was elected and Cliff Murchison
    elected as President. Of the 131 in attendance 35 men signed and handed
    over cheques then and there.
</p>
<p>
    By the third meeting, progress was so great that negotiations were
    authorized to obtain land from the city. Ernie Jones, the clubs first
    Secretary, was a member of City Council and was instrumental in arranging
    for land to be obtained for $3,280.00.
</p>
<p>
    On May 14, 1953 a permanent executive was elected with Cliff Murchison as
    our first President. It was decided that a 4 sheet curling club would be
    more efficient for scheduled curling and that the clubroom should be on the
    ground floor in order to provide a "friendlier" atmosphere - unlike the
    older clubs where ladies were restricted to the upstairs.
</p>
<p>
    Harold Jarvis was retained as the architect and Fred Cummings as the
    contractor - both Westboro residents. The sod was turned on August 21,
    1953. Not withstanding some set backs such as the fact that the shelf rock
    which was expected to form a firm foundation for the building suddenly
    disappeared towards the west end, construction went on relatively smoothly
    and the Club was officially opened February 27, 1954 with 176 members.
</p>
<p>
    In October of 1953, Cliff called a meeting of ladies with intention of
    encouraging husband and wife memberships which has proven to be our
    strength over the years. The Ladies promptly formed an executive with Ruth
    Harback as President.
</p>
<p>
    While most curling clubs had utilized the traditional red, white, and blue
    for painting houses, the Granite selected green and gold because these were
    the colors of the Winnipeg Granite, the home club of the Rev. Donald Bruce
    Macdonald. This selection was most pleasing to Lorne Murphy who felt that
    any color was satisfactory as long as it was green.
</p>
<p>
    "The Granite" has played a very significant part in converting the Ottawa
    area to curling with stones as opposed to irons. the great success of our
    rinks had in various competitions in both Ladies and Men's events is clear
    from the many pictures of winners in the Ladies Locker Room and the Pool
    Room.
</p>
<p>
    The founders of our club helped change the Ottawa curling scene
    dramatically - and the rest is history
</p>
{% endblock %}


