{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Granite Curling Club of West Ottawa</title>
        <link type="text/css"
              rel="stylesheet"
              href="{% static 'bootstrap/css/bootstrap.css' %}"
              />
        <link type="text/css"
              rel="stylesheet"
              href="{% static 'jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.css' %}"
              />
        <link type="text/css"
              rel="stylesheet"
              href="{% static 'font-awesome/css/font-awesome.css' %}"
              />
        <link type="text/css"
              rel="stylesheet"
              href="{% static 'css/site.css' %}"
              />

        <script type="text/javascript"
                src="{% static 'jquery-ui/js/jquery-1.9.1.js' %}"
                ></script>
        <script type="text/javascript"
                src="{% static 'jquery-ui/js/jquery-ui-1.10.3.custom.js' %}"
                ></script>
        <script type="text/javascript"
                src="{% static 'bootstrap/js/bootstrap.js' %}"
                ></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
            <div class="container">
                <ul class="nav" role="navigation">
                    <li>
                        <a href="/" style="padding:0; margin:0;"><img src="{% static 'img/GraniteLogo_tiny.png' %}" /></a>
                    </li>
                </ul>
                {% for menu in top_menus %}
                <ul class="nav" role="navigation">
                <li class="dropdown">
                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ menu.title }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    {% for submenu in menu.submenus %}
                        {% if submenu.title = "divider" %}
                    <li class="divider"></li>
                        {% else %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ submenu.href }}">{{ submenu.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
                </ul>
                {% endfor %}



                <!-- This ul we pull right for the login widget -->
                <ul class="nav pull-right">
                <li class="dropdown">
                    <a id="drop1" href="#" role="button" class="button-like dropdown-toggle" data-toggle="dropdown">Member login</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation">
                            <form id="login_form">
                                <div class"row">
                                    <div class="span6">
                                        Userid:
                                    </div>
                                    <div class="span6">
                                        <input id="login_userid"
                                               type="text"
                                               />
                                    </div>
                                </div>
                                <div class"row">
                                    <div class="span6">
                                        Password:
                                    </div>
                                    <div class="span6">
                                        <input id="login_password"
                                            type="password"
                                            ng-model="password"
                                            required
                                            />
                                        &nbsp;
                                        <input type="submit"
                                            id="login_submit"
                                            value="Continue"
                                            />
                                    </div>
                                </div> <!-- row -->
                            </form>
                        </li>
                    </ul>
                </li>
            </div> <!-- container -->
            </div> <!-- navbar-inner -->
        </div> <!-- navbar -->

        <div class="container-fluid">
            <div class="row-fluid">
                {% block content %}
                Placeholder
                {% endblock %}
            </div> <!-- row -->
        </div> <!-- container-fluid -->

        <!-- footer -->
        <div class="container-fluid">
            <div class="row-fluid">
                &copy; The Granite Curling Club of West Ottawa 2013
            </div>
        </div> <!-- container-fluid -->
    </body>
</html>
