{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="ottawagranite">
    <head>
        <title>The Granite Curling Club of West Ottawa</title>
        <link type="text/css"
              rel="stylesheet"
              href="{% static 'bootstrap/css/bootstrap.css' %}"
              />
        <link type="text/css"
              rel="stylesheet"
              href="{% static 'jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.css' %}"
              />
        <link type="text/css"
              rel="stylesheet"
              href="{% static 'font-awesome/css/font-awesome.css' %}"
              />
        <link type="text/css"
              rel="stylesheet"
              href="{% static 'css/site.css' %}"
              />

        <script type="text/javascript"
                src="{% static 'jquery-ui/js/jquery-1.9.1.js' %}"
                ></script>
        <script type="text/javascript"
                src="{% static 'jquery-ui/js/jquery-ui-1.10.3.custom.js' %}"
                ></script>
        <script type="text/javascript"
                src="{% static 'bootstrap/js/bootstrap.js' %}"
                ></script>
        <script type="text/javascript"
                src="{% static 'js/lib/angular.min.js' %}"
                ></script>
        <script type="text/javascript"
                src="{% static 'js/app.js' %}"
                ></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
            <div class="container">
                <ul class="nav" role="navigation">
                    <li>
                        <a href="/" style="padding:0; margin:0;"><img src="{% static 'img/GraniteLogo_tiny.png' %}" /></a>
                    </li>
                </ul>
                {% for menu in top_menus %}
                <ul class="nav" role="navigation">
                <li class="dropdown">
                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ menu.title }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    {% for submenu in menu.submenus %}
                        {% if submenu.title == "divider" %}
                    <li class="divider"></li>
                        {% else %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ submenu.href }}">{{ submenu.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
                </ul>
                {% endfor %}


                {% if user.is_authenticated %}

                <form id="login_form">
                    {% csrf_token %}
                <ul class="nav pull-right"
                    ng-controller="LoginController"
                    ng-init="init()">
                    <li class="dropdown">
                        <a id="drop1" href="#" role="button" class="button-like dropdown-toggle" data-toggle="dropdown">My account</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'membersession-manageaccount' %}">Manage my account</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'membersession-changepassword' %}">Change my password</a></li>
                            <li class="divider"></li>
                            <li role="presentation" style="500px;">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="performLogout('{% url 'membersession-logout' %}')">Logout {{ user.username }}</a></li>
                            </li>
                        </ul>
                    </li>
                </ul>
                </form>

                {% else %}

                <!-- This ul we pull right for the login widget -->
                <ul class="nav pull-right"
                    ng-controller="LoginController"
                    ng-init="init()">
                <li class="dropdown">
                    <a id="drop1" href="#" role="button" class="button-like dropdown-toggle" data-toggle="dropdown">Member login</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation" style="width: 500px;">
                            <form id="login_form"
                                  ng-submit="performLogin('{% url 'membersession-login' %}')">
                                {% csrf_token %}
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            Userid:
                                        </div>
                                        <div class="span6">
                                            <input id="login_userid"
                                                type="text"
                                                ng-model="userid"
                                                required
                                                />
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            Password:
                                        </div>
                                        <div class="span6">
                                            <input id="login_password"
                                                type="password"
                                                ng-model="password"
                                                required
                                                />
                                            &nbsp;
                                            <input type="submit"
                                                id="login_submit"
                                                value="Login"
                                                />
                                        </div>
                                    </div> <!-- row -->
                                    <div class="row-fluid">
                                        <div class="span6">
                                            &nbsp;
                                        </div>
                                        <div class="span6">
                                            <a href="">Register an account</a>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            &nbsp;
                                        </div>
                                        <div class="span6">
                                            <a href="">I forgot my password</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    {% endif %} <!-- user.is_authenticated -->
                </li>
            </div> <!-- container -->
            </div> <!-- navbar-inner -->
        </div> <!-- navbar -->

        {% if messages %}
        <div class="container-fluid">
            {% for message in messages %}
            <div class="row-fluid">
                <div class="span12 center-justify">
                    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="container-fluid">
            <div class="row-fluid">
                {% block content %}
                Placeholder
                {% endblock %}
            </div> <!-- row -->
        </div> <!-- container-fluid -->

        <!-- footer -->
        <div class="container-fluid">
            <div class="row-fluid">
                &copy; The Granite Curling Club of West Ottawa
                {% now "Y" %}
            </div>
        </div> <!-- container-fluid -->
    </body>
</html>
