{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1><span class="subtext">The</span> Granite Curling Club <span class="subtext">of West Ottawa</span></h1>
<p>
    Established in 1954 in the modern district of Westboro, the "Granite" is
    the center for the sport
    of <a href="http://en.wikipedia.org/wiki/Curling">Curling</a> in West
    Ottawa.
</p>
<img src="{% static 'img/curling.png' %}" style="float: right;" />
<p>
    We are always welcoming new members. Please see our <a
    href="/gettingstarted/">getting started</a> resources if you want to learn
    to curl for the first time, or just to come out and visit the club for the
    first time. We have an excellent <a href="/leagues/rookies/">rookies</a>
    program for adults, a <a href="/leagues/littlerocks/">little rocks</a>
    program for kids, and a <a href="/leagues/bantams">bantams</a> program for
    teens.
</p>
<p>
    For current members, please see the
    <a href="/membersonly/">members only</a> area to manage your information,
    view schedules, download
    calendars, etc.
</p>
<p>
    Thank you for visiting.
</p>
{% endblock %}


