{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span9">
    <h1><span class="subtext">The</span> Granite Curling Club <span class="subtext">of West Ottawa</span></h1>
    <p>
        Established in 1954 in the modern district of Westboro, the "Granite"
        is the center for the sport
        of <a href="http://en.wikipedia.org/wiki/Curling">Curling</a> in West
        Ottawa.
    </p>
    <img src="{% static 'img/curling.png' %}" style="float: right;" />
    <p>
        We are always welcoming new members. Please see our <a
        href="/gettingstarted/">getting started</a> resources if you want to
        learn to curl for the first time, or just to come out and visit the
        club for the first time. We have an excellent <a
        href="/leagues/rookies/">rookies</a> program for adults, a <a
        href="/leagues/littlerocks/">little rocks</a> program for kids, and a
        <a href="/leagues/bantams">bantams</a> program for teens.
    </p>
    <p>
        For current members, please see the
        <a href="/membersonly/">members only</a> area to manage your
        information, view schedules, download calendars, etc.
    </p>
    <p>
        Thank you for visiting.
    </p>
</div>
<div class="span3" style="margin-top: 10px;">
    <div class="container-fluid row-fluid rounded newsbox">
        <h2>Club News</h2>
        <p>
            Some really cool stuff going on in the club.  Too
            bad I can't get a nav-list working. 
        </p>
    </div>
    <div class="container-fluid row-fluid rounded datebox">
        <h2>Important Dates</h2>
        <ul>
            <li>Date one</li>
            <li>Date two</li>
        </ul>
    </div>
</div>
{% endblock %}


