{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Honourary Life Members</h1>
<p>
    The heart and soul of our club are the members who have voluntarily devoted
    significant time, effort and caring to the club. Members that have
    performed outstanding services to the club over many years are recognized
    by being granted an Honorary Life Membership.
</p>
<p>
    Below is a list of members, past and present, that have played a major role
    in making the Granite what it is today.
    <ul>
        <li>Beardsley, Jean</li>
        <li>Branson, B.(Bert) *</li>
        <li>Carkner, Joyce *</li>
        <li>Goodwin, Joan *</li>
        <li>Garinther, Joyce</li>
        <li>Jamieson, Ruth*</li>
        <li>Inniss, Jan</li>
        <li>Macdonald, Betty *</li>
        <li>Martin, C.H. (Colin) *</li>
        <li>McCay, J.C. (John)*</li>
        <li>Murchison, Cliff *</li>
        <li>Murchison, Ken *</li>
        <li>Murchison, A. C. [Kip]</li>
        <li>Murphy, D. Lorne *</li>
        <li>Murphy, Hazel *</li>
        <li>Murray, Elwood J.</li>
        <li>Reddick, Cliff</li>
        <li>Vineberg, L. Lloyd *</li>
        <li>Ward, A.B. (Art) *</li>
        <li>Ward, Pat *</li>
        <li>Young, David B. *</li>
    </ul>
    (* deceased)
</p>
{% endblock %}
