/* Granite colors:
 * Gold Yellow: PANTONE 1235C
 * #FDBB30 (R-253 G-187 B-48 or C-0 M-29 Y-92 K-0)
 *
 * Forest Green : PANTONE 567C
 * #004F39 (R-0 G-79 B-57 or C-90 M-42 Y-80 K-43)
 */

html {
    /* background: #004F39; */
    height: 98%;
}

body {
    margin-top: 40px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    /* width: 98%;
    height: 98%; */
    background: white;
    -moz-box-sizing: border-box;
    padding: 1em;
    border-radius: 1em;
}

.rounded {
    -moz-box-sizing: border-box;
    padding: 1em;
    border-radius: 1em;
    border: 2px groove threedface;
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

.newsbox,
.datebox {
    background: whitesmoke;
    margin-top: 1em;
    width: 90%;
}

.right-justify {
    text-align: right;
}

.left-justify {
    text-align: left;
}

.center-justify {
    text-align: center;
}

.center-vertical {
    vertical-align: middle;
}

.shaded-background {
    background: #006633;
    /* background: lightgray; */
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.subtext {
    font-size: 0.5em;
    font-style: italic;
}
